@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --color-white: #fff;
  --color-slate-300: #d5e1ef;
  --color-slate-500: #68778d;
  --color-slate-900: #1f314f;

  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Outfit, sans-serif;
}

body {
  background-color: var(--color-slate-300);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.qr-code {
  width: 320px;
  height: 499px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  padding: var(--spacing-200, 16px) var(--spacing-200, 16px)
    var(--spacing-500, 40px) var(--spacing-200, 16px);
  margin: 230px auto 0 auto;
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  background: var(--color-white, rgba(255, 255, 255, 1));
}

.img {
  width: 288px;
  height: 288px;
}

.title {
  color: var(--color-slate-900, rgba(31, 49, 79, 1));
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
}

.text {
  color: var(--color-slate-500, rgba(104, 119, 141, 1));
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 0 18px;
  margin-top: 16px;
}
